*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
}

.form-box{
background:rgba(255,255,255,0.15);
padding:40px;
width:350px;
border-radius:15px;
backdrop-filter:blur(10px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
color:white;
}

h2{
text-align:center;
margin-bottom:30px;
}

.input-box{
position:relative;
margin-bottom:25px;
}

.input-box input{
width:100%;
padding:10px;
border:none;
border-bottom:2px solid white;
background:transparent;
outline:none;
color:white;
font-size:16px;
}

.input-box label{
position:absolute;
top:10px;
left:0;
pointer-events:none;
transition:0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
top:-12px;
font-size:12px;
color:#fff;
}

.toggle{
position:absolute;
right:0;
top:10px;
cursor:pointer;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:25px;
background:#ff7eb3;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#ff4d94;
transform:scale(1.05);
}

.switch{
margin-top:15px;
text-align:center;
}

.switch a{
color:#ffd4e5;
text-decoration:none;
font-weight:bold;
}

.error{
color:#ffb3b3;
font-size:14px;
margin-bottom:10px;
text-align:center;
}